<h1>Welcome to the guitar shop</h1>

<h2 class="body_shape">Body Shape</h2>
<ul class="body_shape">
  <li id="shapeA">placeholder for body shape A</li>
  <li id="ShapeB">placeholder for body shape B</li>
  <li id="ShapeC">placeholder for body shape C</li>
  <li id="ShapeD">placeholder for body shape D</li>
</ul>

<h2 class="guitar_string">Guitar String selection</h2>
<ul class="guitar_string">
  <li id="stringA">Steel 6</li>
  <li id="stringB">Steel 12</li>
  <li id="stringC">Nylon</li>
  <li id="stringD">Baritone 6</li>
  <li id="stringE">Baritone 8</li>
  <li id="stringF">12 Fret</li>
</ul>