.build-shop
  .row
    .small-12.large-12.small-centered.column
      %h2 Guitar workshop
  .row
    .progress.large-12.success.round
      %span.meter{:style => "width: 10%"}
  .row
    .image-show.small-12.large-8.column
    .text-description.small-12.large-4.column
      %p
        Here is a table detailing what has been chosen
      %p
        Here is the subtotal price
  .row.fretboard-shop
    = render partial: "parts/fretboard"
