<div class="row">
<div class="small-12 large-12 small-centered large-centered columns">
<div class="slideshow-wrapper">
  <div class="preloader"></div>
    <ul data-orbit data-options="navigation_arrows:false">
      <li data-orbit-slide="headline-1">
        <h2>This is where</h2>
        <h3>I'll display the guitars</h3>
        <p>One</p>
      </li>
      <li data-orbit-slide="headline-2">
        <h2>Headline 2</h2>
        <h3>Subheadline</h3>
        <p>Two</p>
      </li>
    </ul>
  </div>
</div>
</div>
</div>
<div class="row">
  <div class="small-10 small-centered large-3 large-uncentered columns">
    <%= link_to "Build my guitar", new_guitar_path, :class => 'button large round expand' %>
  </div>
  <div class="small-10 small-centered large-6 large-uncentered columns">
    <p>
    You are unique, so is your music and so should your instrument. Here at Customised Acoustic, we want you to express yourself, create your own guitar easily.
    </p>
  </div>
  <div class="small-10 small-centered large-3 large-uncentered columns">
    <%= link_to "Status", root_path, :class => 'button large round expand' %>
  </div>
</div>